# Dependencies
node_modules

# Build output
build
.svelte-kit

# Git
.git
.gitignore

# Environment files
.env
.env.*

# Kamal
.kamal/secrets
config/deploy.yml

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test files
tests
*.test.ts
*.spec.ts

drizzle.config.ts
