service: ppp-telemetry

image: klineathan/ppp-telemetry

servers:
  web:
    - 192.168.1.5

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64

env:
  clear:
    PORT: "80"
  secret:
    - DATABASE_URL

proxy:
  ssl: false
  healthcheck:
    path: /api/health
    interval: 3
    timeout: 3

accessories:
  db:
    image: postgres:16
    role: web
    env:
      clear:
        POSTGRES_DB: ppp_telemetry
        POSTGRES_USER: root
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data

ssh:
  user: jon
  keys_only: true 
  keys: ["~/.ssh/id_ed25519"]

